
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before 
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Slabo 27px", serif;
	color: #ffffff;
	background-color: white;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

body::before 
{
	/* never visible - this is used in jQuery to check the current MQ */
	content: 'mobile';
	display: none;
}

@media only screen and (min-width: 1170px) 
{
	body::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'desktop';
	}
}

a {
	color: #e3ca76;
	text-decoration: none;
}

ol, ul
{
	list-style: none;
}

/* -------------------------------- 

Main Components 

-------------------------------- */

.block, .half-block {
	min-height: 100vh;
}


.half-block {
	height: 100vh !important;
	width: 50%;
	position: fixed;
	display: inline-block;
	top: 0;
	background-size: 100% 100%;
	/*background-size: cover;*/
}

#mainSection {
	height: 100vh;
	width: 100%;
	opacity: 0;
	transform: scale(0.75);
}

#mainSection.shown {
	opacity: 1;
	transform: scale(1);
}

body #mainSection
{
	overflow-x: hidden;
	font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif
}

#mainSection p
{
	line-height: 1.75
}

#mainSection a
{
	color: #de3b3b
}

	#mainSection a:hover
	{
		color: #BA1636
	}

#mainSection .text-primary
{
	color: #fed136 !important
}

#mainSection .section-heading
{
	font-family: Tangerine, Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	color: #d0636c;
	font-weight: 900;
	font-size: 50px;
}

#mainSection section
{
	padding: 100px 0;
}

	#mainSection section h2.section-heading
	{
		margin-top: 0;
		margin-bottom: 15px;
	}

	#mainSection section h2.subsection-heading
	{
		font-family: Tangerine, Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
		color: #d0636c;
		font-weight: 900;
		font-size: 50px;
		padding-top: 40px;
		margin-top: 0;
		margin-bottom: 15px;
	}

	#mainSection section h3.section-subheading
	{
		font-size: 16px;
		font-weight: 400;
		font-style: italic;
		margin-bottom: 75px;
		text-transform: none;
		font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif
	}



@media (min-width:768px)
{
	#mainSection section
	{
		/*padding: 150px 0*/
	}
}

#mainSection .btn
{
	font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
	font-weight: 700;
	font-size: inherit;
}

#mainSection .btn-xl
{
	font-size: 18px;
	padding: 20px 40px
}

#mainSection .btn-primary
{
	background-color: #d0636c;
	border-color: #d0636c;
	color: #fff
}

	#mainSection .btn-primary:active, #mainSection .btn-primary:focus, #mainSection .btn-primary:hover
	{
		background-color: #D13844 !important;
		border-color: #D13844 !important;
		color: #fff
	}

	#mainSection .btn-primary:active, #mainSection .btn-primary:focus
	{
		box-shadow: 0 0 0 .2rem rgba(254,209,55,.5) !important
	}


#welcomeSection {
	display: inline-block;
	overflow: hidden;
}

	#welcomeSection .half-block:first-of-type {
		background-image: url("../../images/img/welcomePageLeft.png");
		background-position: right;
	}

	#welcomeSection .half-block:nth-of-type(2) {
		background-image: url("../../images/img/welcomePageRight.png");
		left: 50%;
	}

	#welcomeSection .half-block:first-of-type.opened {
		-webkit-transform: translateX(-100%);
		-moz-transform: translateX(-100%);
		-ms-transform: translateX(-100%);
		-o-transform: translateX(-100%);
		transform: translateX(-100%);
	}

	#welcomeSection .half-block:nth-of-type(2).opened {
		-webkit-transform: translateX(100%);
		-moz-transform: translateX(100%);
		-ms-transform: translateX(100%);
		-o-transform: translateX(100%);
		transform: translateX(100%);
	}

.duration2s {
	-webkit-transition-duration: 2s; /* Safari */
	transition-duration: 2s;
}


#fairePartBlock {
	display: none;
}

.page {
	display: none;
	/*overflow-y: visible;*/
}

.page.shown {
	display: block;
}