

/* -------------------------------- 

xsigin/signup popup 

-------------------------------- */
.user-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 54, 66, 0.9);
  z-index: 3;
  overflow-y: auto;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0.3s;
  -moz-transition: opacity 0.3s, visibility 0.3s;
  transition: opacity 0.3s, visibility 0.3s;
}
.user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
.user-modal.is-visible .user-modal-container {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.user-modal .user-modal-container {
  position: relative;
  width: 90%;
  max-width: 600px;
  background: #FFF;
  margin: 3em auto 4em;
  cursor: auto;
  border-radius: 0.25em;
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  -o-transform: translateY(-30px);
  transform: translateY(-30px);
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.user-modal .switcher {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.user-modal .user-modal-container .switcher:after {
	content: "";
	display: table;
	clear: both;
}
.user-modal .user-modal-container .switcher li {
	width: 50%;
	float: left;
	text-align: center;
	display: inline-block;
}
.user-modal .user-modal-container .switcher li:first-child a {
  border-radius: .25em 0 0 0;
}
.user-modal .user-modal-container .switcher li:last-child a {
  border-radius: 0 .25em 0 0;
}
.user-modal .user-modal-container .switcher a {
	display: block;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background: #d2d8d8;
	color: #809191;
}
.user-modal .user-modal-container .switcher a.selected {
  background: #FFF;
  color: #505260;
}
@media only screen and (min-width: 600px) {
  .user-modal .user-modal-container {
    margin: 6em auto;
  }
  .user-modal .user-modal-container .switcher a {
    height: 70px;
    line-height: 70px;
  }
}

.user-modal .form {
	padding: 1.4em;
}
.user-modal .form .fieldset {
  position: relative;
  margin: 1.4em 0;
}
.user-modal .form .fieldset:first-child {
  margin-top: 0;
}
.user-modal .form .fieldset:last-child {
  margin-bottom: 0;
}
.user-modal .form label {
  font-size: 14px;
  font-size: 0.875rem;
}
.user-modal .form label.image-replace {
  /* replace text with an icon */
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent;
  text-shadow: none;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
.user-modal .form label.username {
  background-image: url("/images/img/sign/icon-username.svg");
}
.user-modal .form label.email {
  background-image: url("/images/img/sign/icon-email.svg");
}
.user-modal .form label.password {
  background-image: url("/images/img/sign/icon-password.svg");
}
.user-modal .form input {
  margin: 0;
  padding: 0;
  border-radius: 0.25em;
}
.user-modal .form input.full-width {
  width: 100%;
}
.user-modal .form input.has-padding {
  padding: 12px 20px 12px 50px;
}
.user-modal .form input.has-border {
  border: 1px solid #d2d8d8;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.user-modal .form input.has-border:focus {
  border-color: #343642;
  box-shadow: 0 0 5px rgba(52, 54, 66, 0.1);
  outline: none;
}
.user-modal .form input.has-error {
  border: 1px solid #d76666;
}
.user-modal .form input[type=password] {
  /* space left for the HIDE button */
  padding-right: 65px;
}
.user-modal .form input[type=submit] {
  padding: 16px 0;
  cursor: pointer;
  background: #2f889a;
  color: #FFF;
  font-weight: bold;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
.user-modal .no-touch .form input[type=submit]:hover, .user-modal .no-touch .form input[type=submit]:focus {
	background: #3599ae;
	outline: none;
}
.user-modal .form .hide-password {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 6px 15px;
  border-left: 1px solid #d2d8d8;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 14px;
  font-size: 0.875rem;
  color: #343642;
}
.user-modal .form .error-message {
  display: inline-block;
  position: absolute;
  left: -5px;
  bottom: -35px;
  background: rgba(215, 102, 102, 0.9);
  padding: .8em;
  z-index: 2;
  color: #FFF;
  font-size: 13px;
  font-size: 0.8125rem;
  border-radius: 0.25em;
  /* prevent click and touch events */
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0, visibility 0 0.2s;
  -moz-transition: opacity 0.2s 0, visibility 0 0.2s;
  transition: opacity 0.2s 0, visibility 0 0.2s;
}
.user-modal .form .error-message::after {
  /* triangle */
  content: '';
  position: absolute;
  left: 22px;
  bottom: 100%;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid rgba(215, 102, 102, 0.9);
}
.user-modal .form .error-message.is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.2s 0, visibility 0 0;
  -moz-transition: opacity 0.2s 0, visibility 0 0;
  transition: opacity 0.2s 0, visibility 0 0;
}
@media only screen and (min-width: 600px) {
  .user-modal .form {
    padding: 2em;
  }
  .user-modal .form .fieldset {
    margin: 2em 0;
  }
  .user-modal .form .fieldset:first-child {
    margin-top: 0;
  }
  .user-modal .form .fieldset:last-child {
    margin-bottom: 0;
  }
  .user-modal .form input.has-padding {
    padding: 16px 20px 16px 50px;
  }
  .user-modal .form input[type=submit] {
    padding: 16px 0;
  }
}

.user-modal .form-message {
	padding: 1.4em 1.4em 0;
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.4;
	text-align: center;
}
@media only screen and (min-width: 600px) {
  .user-modal .form-message {
    padding: 2em 2em 0;
  }
}

.user-modal .form-bottom-message {
	position: absolute;
	width: 100%;
	left: 0;
	bottom: -30px;
	text-align: center;
	font-size: 14px;
	font-size: 0.875rem;
}
.user-modal .form-bottom-message a {
  color: #FFF;
  text-decoration: underline;
}

.user-modal .close-form {
	/* form X button on top right */
	display: block;
	position: absolute;
	width: 40px;
	height: 40px;
	right: 0;
	top: -40px;
	background: url("/images/img/sign/icon-close.svg") no-repeat center center;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}
@media only screen and (min-width: 1170px) {
  .user-modal .close-form {
    display: none;
  }
}

.user-modal .signout, signout:hover, .user-modal signout:focus {
	padding: 0;
	background-color: transparent !important;
}

.user-modal #login, #signup, .user-modal #reset-password {
	display: none;
}

.user-modal #login.is-selected, .user-modal #signup.is-selected, .user-modal #reset-password.is-selected {
  display: block;
}
