<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Agency - Start Bootstrap Theme</title>
	<!-- Bootstrap core CSS -->
	<link href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template -->
	<link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="stylesheets/font-tangerine/font-tangerine.css" rel="stylesheet" type="text/css">
	<!-- Custom styles for this template -->

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB475-TngUlJcYR1YzHQUaIBjAyCQbpkj4"></script>
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" type="text/css" href="stylesheets/css/perfect-scrollbar.css">
	<link href="stylesheets/css/main.css" rel="stylesheet">

	<script src="javascripts/js/jquery/jquery.min.js"></script>
	<script src="javascripts/js/modernizr.js"></script> <!-- Modernizr -->
	<script src="javascripts/js/perfect-scrollbar.js"></script>
	<script src="javascripts/js/project/velocity.min.js"></script>

</head>

<body>
	<!-- Navigation -->
	<%- include('partials/navbar') %>



	<div class="section" id="mainSection">

		<div class="block" id="fairePartBlock">
			<h1> faire part Block ! </h1>
		</div><!--.block -->

		<div class="block" id="mainPageBlock">
			<div class="page shown" id="homePage">
			</div>
			<div class="page" id="timelinePage">
				<!--<h1>timeline Page</h1>-->
			</div>
			<div class="page" id="userPage">
				<!--<h1>user Page</h1>-->
			</div>
			<div class="page" id="projectPage">
				<link href="stylesheets/css/project/projectMain.css" rel="stylesheet">


				<section>

					<div class="overlay-layer"></div>

					<div class="introduction">
						<h1>Liste de Mariage </h1>
					</div>

					<ul class="items container">
						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->

						<li class="item">
							<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
							<a href="#0" class="trigger">Quick View</a>
						</li> <!-- item -->
					</ul> <!-- items -->

					<div class="quick-view">
						<div class="slider-wrapper">
							<ul class="slider">
								<li class="selected"><img src="images/img/projects/items/item-1.jpg" alt="Product 1"></li>
								<li><img src="images/img/projects/items/item-2.jpg" alt="Product 2"></li>
								<li><img src="images/img/projects/items/item-3.jpg" alt="Product 3"></li>
							</ul> <!-- slider -->

							<ul class="slider-navigation">
								<li><a class="next" href="#0">Prev</a></li>
								<li><a class="prev" href="#0">Next</a></li>
							</ul> <!-- slider-navigation -->
						</div> <!-- slider-wrapper -->

						<div class="item-info">
							<h2>Produt Title</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>

							<ul class="item-action">
								<li><button class="add-to-cart">Add to cart</button></li>
								<li><a href="#0">Learn more</a></li>
							</ul> <!-- item-action -->
						</div> <!-- item-info -->
						<a href="#0" class="close">Close</a>
					</div> <!-- quick-view -->
				</section>

				<script src="javascripts/js/project/projectMain.js"></script>

			</div>
			<div class="page" id="galeryPage">
				<!--<h1>galery Page</h1>-->
			</div>
			<!-- Footer -->
			<%- include('partials/footer') %>

			<div class="mainCoverLayer"></div>
			<div class="loading-bar"></div>

		</div><!--.block -->

	</div> <!-- .section -->


	<div class="section" id="welcomeSection">
		<div class="block">
			<div class="half-block"></div>

			<div class="half-block"></div>
		</div>
	</div> <!-- .section -->
	<!-- Bootstrap core JavaScript -->
	<script src="javascripts/js/jquery/jquery.min.js"></script>
	<script src="javascripts/js/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="javascripts/js/jquery-easing/jquery.easing.min.js"></script>

	<!-- Contact form JavaScript -->
	<script src="javascripts/js/jqBootstrapValidation.js"></script>

	<!-- Custom scripts for this template -->
	<script src="javascripts/js/contact_me.js"></script>

	<script src="javascripts/js/main.js"></script>

</body>

</html>
