<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Agency - Start Bootstrap Theme</title>
	<!-- Bootstrap core CSS -->
	<link href="stylesheets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom fonts for this template -->
	<link href="stylesheets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
	<!-- Custom styles for this template -->
	<link href="stylesheets/css/style.css" rel="stylesheet">
	<link href="stylesheets/css/agency.min.css" rel="stylesheet">
	<!--<link href="stylesheets/css/sign/reset.css" rel="stylesheet">-->
	<link href="stylesheets/css/sign/style.css" rel="stylesheet">

	<script src="javascripts/js/modernizr.js"></script> <!-- Modernizr -->

</head>

<body id="page-top">
	<!-- Navigation -->
	<%- include('partials/navbar') %>

	<div class="section" id="mainSection">

		<div class="block" id="fairePartBlock">
			<h1> faire part Block ! </h1>
		</div><!--.block -->

		<div class="block" id="mainPageBlock">
			<div class="page" id="homePage">
				<%- include('homePage/homePageView') %>
			</div>
			<div class="page" id="timelinePage">
				<h1>timeline Page</h1>
			</div>
			<div class="page" id="userPage">
				<h1>user Page</h1>
			</div>
			<div class="page" id="galeryPage">
				<h1>galery Page</h1>
			</div>
			<!-- Footer -->
			<%- include('partials/footer') %>
		</div><!--.block -->

	</div> <!-- .section -->


	<div class="section" id="welcomeSection">
		<div class="block">
			<div class="half-block"></div>

			<div class="half-block"></div>
		</div>
	</div> <!-- .section -->


	<!-- Bootstrap core JavaScript -->
	<script src="javascripts/js/jquery/jquery.min.js"></script>
	<script src="javascripts/js/bootstrap/js/bootstrap.bundle.min.js"></script>
	<!-- Plugin JavaScript -->
	<script src="javascripts/js/jquery-easing/jquery.easing.min.js"></script>
	<!-- Contact form JavaScript -->
	<script src="javascripts/js/jqBootstrapValidation.js"></script>
	<script src="javascripts/js/contact_me.js"></script>
	<script src="javascripts/js/main.js"></script>
	<!-- Custom scripts for this template -->
	<script src="javascripts/js/agency.min.js"></script>
	<script src="javascripts/js/sign/main.js"></script>

</body>

</html>
