<link href="stylesheets/css/project/projectMain.css" rel="stylesheet">

<section>
	<div class="introduction">

		<h1>Liste de Mariage</h1>

	</div>

	<div class="overlay-layer"></div>

	<ul class="items container">
		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->

		<li class="item">
			<img src="images/img/projects/items/item-1.jpg" alt="Item Preview">
			<a href="#0" class="trigger">Quick View</a>
		</li> <!-- item -->
	</ul> <!-- items -->

	<div class="quick-view">
		<div class="slider-wrapper">
			<ul class="slider">
				<li class="selected"><img src="images/img/projects/items/item-1.jpg" alt="Product 1"></li>
				<li><img src="images/img/projects/items/item-2.jpg" alt="Product 2"></li>
				<li><img src="images/img/projects/items/item-3.jpg" alt="Product 3"></li>
			</ul> <!-- slider -->

			<ul class="slider-navigation">
				<li><a class="next" href="#0">Prev</a></li>
				<li><a class="prev" href="#0">Next</a></li>
			</ul> <!-- slider-navigation -->
		</div> <!-- slider-wrapper -->

		<div class="item-info">
			<h2>Produt Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia, omnis illo iste ratione. Numquam eveniet quo, ullam itaque expedita impedit. Eveniet, asperiores amet iste repellendus similique reiciendis, maxime laborum praesentium.</p>

			<ul class="item-action">
				<li><button class="add-to-cart">Add to cart</button></li>
				<li><a href="#0">Learn more</a></li>
			</ul> <!-- item-action -->
		</div> <!-- item-info -->
		<a href="#0" class="close">Close</a>
	</div> <!-- quick-view -->
</section>


	<script src="javascripts/js/project/velocity.min.js"></script>
	<script src="javascripts/js/project/projectMain.js"></script>
